/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set core body defaults */
body {
    min-height: 100vh;
}


/* VARIABLES */

:root {
    /* COLORS */
    --cyan: hsl(179, 62%, 43%);
    --card3-bg-color: hsl(179, 62%, 47%);
    --bright-yellow: hsl(71, 73%, 54%);
    --bg-color: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* FONT */
    --font-size: 0.85rem;
    --heading-fs: 1.125rem;
    --line-height: 1.5;
}

/* GENERAL STYLES*/

body {
    font-family: "Karla", sans-serif;
    font-size: var(--font-size);
    background-color: var(--bg-color);
    display: grid;
    place-content: center;
    gap: 3rem;
    padding: 4.5rem 1rem;
}

/* Blocks */

article {
    padding: 2rem 0.9rem;
}

.card1 {
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    display: grid;
    gap: 1.5rem;
}

.card2 {
    background-color: var(--cyan);
}

.card3 {
    background-color: var(--card3-bg-color);
    border-radius: 0 0 0.5rem 0.5rem;
}

/* Elements */

.card1 h1 {
    color: var(--cyan);
    font-size: var(--heading-fs);
}

.card1 h2 {
    color: var(--bright-yellow);
    font-size: var(--font-size);
}

.card1 p {
    color: var(--grayish-blue);
    line-height: var(--line-height);
}

.card2 h2 {
    color: white;
    font-size: var(--heading-fs);
    padding-bottom: 1rem;
}

.price {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    vertical-align: middle;
    padding-right: 0.5rem;
}

.perMonth {
    color: rgba(255, 255, 255, 0.5);
}

.card2 p {
    color: rgba(255, 255, 255, 0.75);
    font-size: initial;
    padding-bottom: 0.25rem;
}

/* Target the third <p> elements that sit inside element whose class attribute has a value of card2 */
.card2 p:nth-child(3) {
    padding-bottom: 2rem;
}

.card2 a {
    max-width: 100%;
    height: 3rem;
    background-color: var(--bright-yellow);
    display: grid;
    place-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.25rem;
}

.card3 h2 {
    color: white;
    padding-bottom: 1.5rem;
}

.card3 ul {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    line-height: var(--line-height);
}

.attribution {
    font-size: x-small;
    text-align: center;
}

/* MEDIA QUERIES */

@media screen and (min-width: 48rem) {
    .card1 {
        grid-area: area1;
    }

    .card2 {
        grid-area: area2;
        border-radius: 0 0 0 0.5rem;
    }

    .card3 {
        grid-area: area3;
        border-radius: 0 0 0.5rem 0;
    }

    main {
        display: grid;
        grid-template-columns: 
        17.5rem 17.5rem;
        grid-template-areas: 
            "area1 area1"
            "area2 area3"
        ;
        max-width: 35rem;
    }

    article {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .card2 p {
        font-size: 0.8rem;
    }
}