/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set core body defaults */
body {
    min-height: 100vh;
}


/* VARIABLES */

:root {
    /* COLORS */
    --cyan: hsl(179, 62%, 43%);
    --card3-bg-color: hsl(179, 62%, 47%);
    --bright-yellow: hsl(71, 73%, 54%);
    --bg-color: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);

    /* FONT */
    --font-size: 0.85rem;
    --heading-fs: 1.125rem;
}

/* GENERAL STYLES*/

body {
    font-family: "Karla", sans-serif;
    font-size: var(--font-size);
    background-color: var(--bg-color);
    display: grid;
    place-content: center;
    gap: 3rem;
    padding: 4.5rem 2rem;
}

/* Blocks */

article {
    padding: 2rem 1.5rem;
}

.card1 {
    background-color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    display: grid;
    gap: 1.5rem;
}

.card2 {
    background-color: var(--cyan);
    display: grid;
    gap: 1.5rem;
}

.card3 {
    background-color: var(--card3-bg-color);
    border-radius: 0 0 0.5rem 0.5rem;
}

/* Elements */

.card1 h1 {
    color: var(--cyan);
    font-size: var(--heading-fs);
}

.card1 h2 {
    color: var(--bright-yellow);
    font-size: var(--font-size);
}

.card1 p {
    color: var(--grayish-blue);
    line-height: 2;
}

.card2 h2 {
    color: white;
    font-size: var(--heading-fs);
}

.price {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    padding-right: 0.75rem;
}

.perMonth {
    color: rgba(255, 255, 255, 0.5)
}

.card2 p {
    color: rgba(255, 255, 255, 0.75)
}

.card2 a {
    max-width: 100%;
    height: 3rem;
    background-color: var(--bright-yellow);
    display: grid;
    place-content: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 0.25rem;
}

.card3 h2 {
    color: white;
    padding-bottom: 1.5rem;
}

.card3 ul {
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
}

.attribution {
    font-size: small;
}